<%= form_with(model: play, local: true) do |form| %>
  <% if play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
        <% play.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :play_image_path %>
    <%= form.file_field :play_image_path %>
  </div>

  <div class="field">
    <%= form.label :min_player %>
    <%= form.number_field :min_player %>
  </div>

  <div class="field">
    <%= form.label :max_player %>
    <%= form.number_field :max_player %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.fields_for :tool do |tool| %>
      <%= tool.label :tool_content %>
      <%= tool.text_area :tool_content %>
    <% end %>
  </div>
 
  <div class="field">
    <%= form.label :outline %>
    <%= form.text_area :outline %>
  </div>

  <div class="field">
    <%= form.label :winnig_content %>
    <%= form.text_area :winnig_content %>
  </div>

  <div class="field">
    <%#= form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%#= form.label :deleted_at %>
    <%#= form.datetime_select :deleted_at %>
  </div>

  <div class="field">
    <%= form.fields_for :rule do |rule| %>
      <div class="rule-form">
        <div class="rule-list" data-index=<%"#{rule.index}"%> >
          <%= rule.label :rule_content %>
          <%= rule.text_area :rule_content, name: "rule[rule_content0][content]" %>
          <%= rule.file_field :rule_image_path, name: "rule[rule_content0][image]" %>
          <button type="button" class="delete-form-btn btn btn-danger">削除する</button>
        </div>
      </div>
    <% end %>
  </div>

  <button type="button" class="add-form-btn btn btn-primary">追加する</button>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>