<p id="notice"><%= notice %></p>

<h1 class="title">遊び一覧</h1>

<div class="search">
  <%= form_with(model: @play, url: search_path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>
  <div class="field">
    <%= form.label :min_player %>
    <%= form.number_field :min_player %>
  </div>

  <div class="field">
    <%= form.label :max_player %>
    <%= form.number_field :max_player %>
  </div>
  <div class="actions">
    <%= form.submit "検索" %>
  </div>
<% end %>
</div>

<div class="index">
  <% @plays.each do |play| %>
    <li id="play-<%= play.id %>">
      <%= link_to play_path(play) do %>
        <span class="img"><%= image_tag play.play_image_path.url if play.play_image_path? %></span>
        <table class="content">
          <tr>
            <td><%= play.title %></td>
            <td class="user-name">Userの名前</td>
            <td>favorite</td>
          </tr>
          <tr><td><%= play.place %></td></tr>
          <tr><td>道具</td></tr>
          <tr><td><%= time_ago_in_words(play.updated_at) %>前に更新</td></tr>
        </table>
      <% end %>
    </li>
  <% end %>
</div>

<br>

<%#= link_to 'New Play', new_play_path %>
