<!--<header class="navbar navbar-fixed-top navbar-inverse navbar-expand">-->
<header>
  <div class="container">
    <%= link_to "みんなの遊び", root_path, id: "logo" %>
    <div>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <li><%= link_to "遊び一覧", plays_path %></li>
          <li><%= link_to "遊びを投稿", new_play_path, data: {"turbolinks" => false} %></li>
          <li><%= link_to current_user do %>
            <%= "#{current_user.name}さん" %>
            <%= image_tag current_user.user_image_path.url if current_user.user_image_path? %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "会員登録", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>